@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap");

body {
  background-color: black;
  color: white;
  overflow-x: hidden;
}

* {
  padding: 0;
}

body {
  font-family: Cairo, sans-serif;
  padding: 32px;
}

h1 {
  line-height: 1.5;
  font-weight: normal;
  margin: 0;
}
h1.hero {
  font-size: calc(100vw / 10);
  height: 100vh;
  line-height: 100vh;
  animation: bright 0.2s infinite alternate;
}

@keyframes bright {
  from {
    opacity: 0.9;
  }
  to {
    opacity: 1;
  }
}

p {
  margin: 0 0 16px;
}

section {
  margin-bottom: 128px;
}

.buttonGroup {
  display: flex;
  gap: 16px;
}

.button {
  display: inline-block;
  color: currentColor;
  text-decoration: none;
  border: 1px solid white;
  padding: 8px 16px;
  line-height: 1;
}

.headline {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.headline .rect {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: block;
  background: white;
  width: 100%;
  height: 100%;
  transform: translateX(-101%);
}
body::-webkit-scrollbar {
  width: 10px; /* 垂直方向のスクロールバーの幅 */
}
body::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 5px;
}
body::-webkit-scrollbar-track {
  background-color: #444;
}