html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #000;
  display: grid;
  place-items: center;
}

.rect {
  width: 10vw;
  height: 10vw;
  display: block;
  position: absolute;
  background: white;
}