@charset "UTF-8";

/************
faundation
************/

/** 
* reset
**/
:root {
  --red: #e50914;
  --blue: #1F5EAB;
  --white: #fff;
  --black: #333;
  --gray: #cdcdcd;
}
html {
  scroll-behavior: smooth;
}
html, body {
  font-size: 62.5%;
  margin: 0;
}
* {
  color: var(--black);
}
div, p, span, input, textarea, ul, li, ol, a, figure {
  font-size: 1.4rem;
  margin: 0;
  padding: 0;
}
ul li, ol li {
  list-style-type: none;
}
a {
  color: var(--black);
  opacity: 1;
  transition: .3s opacity ease;
  text-decoration: none;
}
a:hover {
  opacity: .7;
  transition: .3s opacity ease;
}
img {
  width: 100%;
}
input, textarea, button {
  outline: none;
}
@media only screen and (max-width: 767px) {
  div, p, span, input, textarea, ul, li, ol, a {
    font-size: 1.2rem;
  }
}

/**
* header
**/
header {
  display: flex;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  background: var(--white);
  z-index: 10;
}
header .l-title {
  margin: 10px auto;
}
header .l-title__logo {
  height: 60px;
}
header .l-search {
  position: absolute;
  inset: 20px 0 0 calc(100% - 200px);
  height: 31px;
  width: 178px;
}
header form {
  margin: 0;
  display: flex;
  align-items: center;
}
header .l-search__input {
  padding: 6px 5px;
  border-radius: 0;
  background: var(--white);
  border: 1px solid var(--blue);
  border-right-width: 0;
}
header .l-search__input::placeholder {
  color: var(--blue);
}
header .l-search__submit {
  background: var(--white);
  padding: 5px;
  border-radius: 0;
  height: 30px;
  border: 1px solid var(--blue);
}
header .l-search__submit svg path {
  fill: var(--white);
  stroke: var(--blue);
}
header .l-search__submit svg line {
  fill: var(--blue);
  stroke: var(--blue);  
}
header .l-glovalnav {
  width: 100%;
  border-top: 1px solid var(--blue);
  border-bottom: 1px solid var(--blue);
}
header .l-glovalnav__list {
  width: 100%;
  display: flex;
  text-align: center;
  padding: 0;
}
header .l-glovalnav__list li{
  width: calc(100% / 6);
}
header .l-glovalnav__list li a {
  display: block;
  padding: 10px 0;
  color: var(--blue);
}
@supports not (inset: 20px 0 0 calc(100% - 200px)) {
  header .l-search {
    top: 20px;
    right: 55px;
  }
}
/**
* breadcrumb
**/
.c-breadcrumb ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background: var(--black);
  padding: 10px 0;
}
.c-breadcrumb ul li {
  margin: 0 10px;
}
.c-breadcrumb ul li a {
  color :var(--white);
  position: relative;
}

/**
* layout
**/
.l-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.l-main {
  width: calc(75% - 40px);
  margin: 0 20px 0 0;
}
.l-sidebar {
  width: calc(25% - 20px);
}
/**
* footer
**/
footer.l-footer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background: var(--black);
  margin: 20px 0 0;
}
footer.l-footer .l-foonter-top {
  width: 100%;
  padding: 20px;
}
footer.l-footer .l-foonter-top {
  display: flex;
  flex-wrap: wrap; 
}
footer.l-footer .l-foonter__address {width: 50%;}
footer.l-footer .l-foonter__address a{
  display: block;
  margin: 0 0 10px;
}
footer.l-footer .l-foonter__address a img{
  width: auto;
  height: 60px;
  background: var(--white);
  padding: 10px;
}
footer.l-footer .l-foonter__address p {
  color: var(--white);
  line-height: 2;
}
footer.l-footer .l-foonter__navi {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  justify-content: flex-end;
  align-items: center;
}
footer.l-footer .l-foonter__navi:before,
footer.l-footer .l-foonter__navi:after {
  content: none;
}
footer.l-footer .l-foonter__list {
  padding: 0;
  width: 50%;
}
footer.l-footer .l-foonter__list li {
  display: block;
  gap: 10px;
}
footer.l-footer .l-foonter__list li a{
  color: var(--white);
}
footer.l-footer .l-foonter__copyright {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px 20px;
  border-top: 1px solid var(--white);
}
footer.l-footer .l-foonter__copy {
  color: var(--white);
}
footer.l-footer .l-foonter__copy a {
  color: var(--white);
}
footer.l-footer [href*="top"] {
  position: fixed;
  width: 40px;
  height: 40px;
  inset: calc(100% - 60px) 0 0 calc(100% - 60px);
  background: var(--black);
  border: 1px solid var(--white);
  border-radius: 50%;
}
footer.l-footer [href*="top"]:before {
  content: '';
  border: 1px solid var(--white);
  border-left-width: 0px;
  border-bottom-width: 0px;
  position: absolute;
  width: 10px;
  height: 10px;
  inset: 50%;
  transform:translate(-50%, 0) rotate(-45deg);
}
@supports not (inset: 20px 0 0 calc(100% - 200px)) {
  footer.l-footer [href*="top"] {
    top: calc(100% - 60px);
    left: calc(100% - 60px);
  }
}
@supports not (inset: 50%;) {
  footer.l-footer [href*="top"]:before {
    top: 50%;
    left: 50%;
    transform:translate(-50%) rotate(-45deg);
  }
}

.c-title {
  color: var(--blue);
  border-bottom: 2px solid var(--blue);
}
/**
* main
**/
.t-main {
  overflow: hidden;
  aspect-ratio: 3 / 1.5;
  width: 100%;
  position: relative;
}
.t-main ol {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}
.t-main ol li {
  background-size: 100%;
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  background-repeat: no-repeat;
  top: -50%;
  transform: translatey(50%);
}
.t-main ol li .carousel__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}
@media (hover: hover) {
  .t-main ol li .carousel__snapper {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }
  .t-main ol li:last-child .carousel__snapper {
    animation-name: tostart, snap;
  }
}
@media (prefers-reduced-motion: reduce) {
  .t-main ol li  {
    animation-name: none;
  }
}
@supports not (aspect-ratio: 3 / 1.5) {
  .t-main {
    padding: 50% 0 0;
  }
}
.t-main ol li:hover .carousel__snapper,
.t-main ol li:focus-within .carousel__snapper {
  animation-name: none;
}
/**
* ranking
**/
.t-ranking ul {
  display: grid;
  grid-template-columns: calc(100);
  display: -ms-grid;
  -ms-grid-columns: calc(100%);
  gap: 10px;
}
.t-ranking li {
  position: relative;
}
.t-ranking li:nth-of-type(1) {
  grid-row:1 / 3;
  grid-column: 1 / 3;
}
.t-ranking li:nth-of-type(2) {
  grid-row:1 / 2;
  grid-column: 3 / 4;
}
.t-ranking li:nth-of-type(3) {
  grid-row:2 / 3;
  grid-column: 3 / 4;
}
.t-ranking li:nth-of-type(4) {
  grid-row:3 / 4;
  grid-column: 1 / 2;
}
.t-ranking li:nth-of-type(5) {
  grid-row:3 / 4;  
  grid-column: 2 / 3;
}
.t-ranking li:nth-of-type(6) {
  grid-row:3 / 4;
  grid-column: 3 / 4;
}
.t-ranking li a {
  display: block;
}
.t-ranking li a span {
  position: absolute;
  color: white;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.t-ranking li a span:not(.rank) {
  opacity: 0;
  width: 50%;
  inset: 50%;
  height: 100%;
}
.t-ranking li a span.rank {
  inset: 1vw;
  width: 1vw;
  height: 1vw;
  text-align: center;
  background: var(--blue);
  padding: 1vw;
  transform: translate(0%, 0%);
  font-size: 1vw;
}
.t-ranking li:hover a figure:after {
  content: '';
  background: var(--black);
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  opacity: .7;
}
.t-ranking li:hover a span:not(.rank) {
  opacity: 1;
}

/**
* instagram
**/
.t-instagram {
  margin: 0 0 2rem;
}
.t-instagram ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}
.t-instagram ul:before {
content: none;
}
.t-instagram ul li{
  margin: 5px;
  width: calc(100% / 3 - 10px);
  overflow: hidden;
  position: relative;
}
.t-instagram ul li a {
  background-position: center center;
  background-size: cover;
  display: block;
  overflow: hidden;
  width: 100%;
  aspect-ratio: 3 / 2;
}
@supports not (aspect-ratio: 3 / 2) {
  .t-instagram ul li a {
    padding-top: 66.161%;
  }
}
/**
* goolemap
**/
.l-map {
  overflow:hidden;
  aspect-ratio: 3 / 2;
}
.l-map iframe {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
@supports not (aspect-ratio: 3 / 2) {
  .l-map {
    overflow: hidden;
    position: relative;
    padding-top: 66.161%;
  }
  .l-map iframe {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
  }
}
/**
* contents
**/
.l-sidebar-wrap {
  position: sticky;
  top:130px;
}

@media (max-width: 768px) {
  /**
  * layout
  **/
  .l-main, .l-sidebar {
    width: 100%;
    margin: 0 10px;
  }
  /**
  * header
  **/
  header .l-title__logo {
    width: auto;
    height: 30px
  }
  header .l-search {
    position: relative;
    inset: 0;
    width: calc(100% - 20px);
    margin: 0 auto 10px;
  }
  header .l-search__input {
    width: calc(100% - 30px)
  }
  @supports not (inset: 0) {
    header .l-search {
      top: 0;
      right: 0;
    }
  }  
  /**
  * ranking
  **/
  .t-ranking li a span.rank {
    width: 2vw;
    height: 2vw;
    padding: 2vw;
  }
  /**
  * instagram
  **/
  .t-instagram ul li {
    margin: 5px;
    width: calc(100% / 2 - 10px);
    overflow: hidden;
    position: relative;
  }
  /**
  * sidebanner
  **/
  .c-sidebanner ul {
    display: flex;
    flex-wrap: wrap;
  }
  .c-sidebanner ul li{
    width: calc(100% / 2 - 10px);
    margin: 5px;
  }
  /**
  * footer
  **/
  footer.l-footer .l-foonter__address,
  footer.l-footer .l-foonter__navi {
    width: 100%;
    margin: 0 0 10px;
  }
  footer.l-footer .l-foonter__list li {
    margin: 0 0 10px;
  }
}

