html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  color: white;
  background: #000;
  font-family: sans-serif;
}
.container {
  justify-content: center;
  margin-top: 10vh;
  padding: 32px;
}
button {
  appearance: none;
  border: 1px solid white;
  color: white;
  background: none;
  user-select: none;
  padding: 8px 16px;
  transition: 0.2s;
  cursor: pointer;
}
button:hover {
  color: black;
  background: white;
}
.stalker {
  width: 10px;
  height: 10px;
  display: block;
  border: 2px solid #ccc;
  position: fixed;
  pointer-events: none;
  top: 0;
  left: 0;
  box-sizing: border-box;
}
.flex {
  display: flex;
  gap: 24px;
}