html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #000;
  color: white;
  font-family: sans-serif;
  display: grid;
  place-items: center;
}
.container {
  display: flex;
  gap: 32px;
}
.rect {
  width: 10vw;
  height: 10vw;
  display: block;
  background: white;
}